<form [formGroup]="form" xmlns="http://www.w3.org/1999/html">
  <mat-card class="mat-elevation-z4 p-4 width-100">
    <mat-horizontal-stepper #steper [linear]="true" editable="false" class="pt-3">
      <mat-step [completed]="step1Completado">
        <ng-template matStepLabel>Datos del producto</ng-template>
        <div class="row pt-3">
          <h2>Qué te gustaría que busquemos?</h2>
        </div>
        <div class="row pt-2">
          <div class="col-sm-10">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Descipción</mat-label>
              <textarea matInput rows="2" style="resize: none" [formControl]="txDescripcion"></textarea>
              <mat-error *ngIf="txDescripcion?.hasError('required')">Campo requerido</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 col-12">
            <input
              type="file"
              #fileInput
              id="uploadFile"
              name="uploadFile"
              accept=".jpg,.jpeg"
              (change)="seleccionarArchivo(fileInput)"
              [attr.maxFileSize]="maxTamanioArchivos"
            />
          </div>
        </div>
        <hr>
        <h2>Dónde lo buscamos?</h2>
        <app-domicilio #domicilioComercio [titulo]="'Domicilio del Comercio'"></app-domicilio>
      </mat-step>

      <mat-step [completed]="step2Completado">
        <ng-template matStepLabel>Datos del envío</ng-template>
        <div class="row pt-3">
          <h2>A dónde te lo llevamos?</h2>
        </div>
        <app-domicilio #domicilioEntrega [titulo]="'Domicilio del entrega'"></app-domicilio>
        <hr>
        <h2>Cuándo lo querés recibir?</h2>
        <div [formGroup]="fgMomentoRecepcion">

          <div class="row">
            <div class="col">
              <mat-radio-group [formControl]="rbTiposEnvio">
                <mat-radio-button [value]="loAntesPosible" checked>Lo antes posible</mat-radio-button>
                <mat-radio-button [value]="pactarFecha">Pactar visita</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>

          <div [hidden]="rbTiposEnvio.value !== pactarFecha">
            <div class="row">
              <div class="col-sm-4">
                <mat-form-field>
                  <mat-label>Fecha</mat-label>
                  <input matInput [matDatepicker]="fechaPicker"
                         [min]="fechaActual"
                         [max]="fechaMaxima"
                         required
                         (click)="fechaPicker.open()"
                         (dateChange)="validarHoraMinima()"
                         [formControl]="dpFechaEnvio">
                  <mat-datepicker-toggle matSuffix [for]="fechaPicker"></mat-datepicker-toggle>
                  <mat-datepicker #fechaPicker></mat-datepicker>
                  <mat-error *ngIf="dpFechaEnvio?.hasError('required')">Campo requerido</mat-error>
                </mat-form-field>
              </div>

              <div class="col-sm-4">
                <mat-form-field>
                  <mat-label>Hora</mat-label>
                  <input matInput
                         name="selected_time_B"
                         [formControl]="tpHoraEnvio"
                         [format]="24"
                         [ngxMatTimepicker]="pickerB"
                         required
                         readonly/>
                  <mat-icon matSuffix
                            (click)="pickerB.open()">
                    watch_later
                  </mat-icon>
                  <mat-error *ngIf="tpHoraEnvio?.hasError('required')">Campo requerido</mat-error>
                </mat-form-field>
                <ngx-mat-timepicker color="accent" #pickerB></ngx-mat-timepicker>
              </div>
            </div>
            <div class="row">
              <mat-error class="error" *ngIf="tpHoraEnvio.errors?.['horaInvalida']">
                {{ tpHoraEnvio.errors?.['horaInvalida']?.mensaje }}
              </mat-error>
            </div>
          </div>

        </div>
      </mat-step>
      <mat-step [completed]="step3Completado">
        <ng-template matStepLabel>Datos del pago</ng-template>
        <!-- Aquí colocas el formulario para cargar los datos del pago -->
        <div class="pt-3">
          <h2>Detalle del pedido</h2>
          <div class="row">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Descripción:</mat-label>
              <input matInput disabled value="{{pedido.descripcionProducto | uppercase}}">
            </mat-form-field>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Dirección comercio:</mat-label>
                <input matInput disabled value="{{pedido.direccionComercio | uppercase}}">
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Dirección entrega:</mat-label>
                <input matInput disabled value="{{pedido.direccionComercio | uppercase}}">
              </mat-form-field>
            </div>
            <div class="col-sm-4">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Fecha y hora entrega:</mat-label>
                <input matInput disabled value="{{pedido.tipoEnvio === pactarFecha ? pedido.momentoEntrega : 'Lo antes posible' | uppercase}}">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Distancia en Km:</mat-label>
                <input matInput disabled value="{{pedido.distanciaKm}}">
              </mat-form-field>
            </div>
            <div class="col-sm-4 p-0 ps-2 pe-2 text-center">
              <div class="total">
                <h3>TOTAL: {{pedido.precio | currency}}</h3>
              </div>
            </div>

          </div>
        </div>
        <hr>
        <h2>Cómo lo querés pagar?</h2>
        <div [formGroup]="fgPago">
        <div class="row">
          <div class="col">
            <mat-radio-group [formControl]="rbTiposPago">
              <mat-radio-button [value]="efectivo" checked>Efectivo</mat-radio-button>
              <mat-radio-button [value]="tarjetaVisa">Tarjeta VISA</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
          <div class="row" *ngIf="rbTiposPago.value === efectivo">
            <div class="col-sm-6">
              <mat-form-field appearance="outline" style="width: 80%">
                <mat-label>Monto abonar</mat-label>
                <input matInput type="number" matNumberInput [min]="minimoMontoEfectivo" [formControl]="txMontoAbonar">
                <mat-error *ngIf="txMontoAbonar?.hasError('required')">Campo requerido</mat-error>
                <mat-error *ngIf="txMontoAbonar?.hasError('pattern')">Valor incorrecto, debe ser un número hasta dos decimales</mat-error>
                <mat-error *ngIf="txMontoAbonar?.hasError('min')">El monto mínimo debe ser {{pedido.precio | currency}}</mat-error>
              </mat-form-field>
            </div>
            <div class="col-sm-6">
              <mat-form-field appearance="outline" style="width: 80%">
                <mat-label>Vuelto</mat-label>
                <input matInput type="text" disabled [value]="permiteVerVuelto() ? calcularVuelto().toString() : '' | currency">
                <mat-error *ngIf="txMontoAbonar?.hasError('required')">Campo requerido</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <app-pago-tarjeta #pagoTarjeta *ngIf="rbTiposPago?.value === tarjetaVisa">
        </app-pago-tarjeta>
      </mat-step>
    </mat-horizontal-stepper>
    <div class="row pt-3">
      <div class="col text-end">
        <div class="float-right">
          <button *ngIf="step3Completado" class="btn me-3" mat-raised-button
                  (click)="mostrarPedido()">
            Ver pedido
          </button>
          <button *ngIf="permiteVerBotonFinalizar() && !step3Completado" class="btn me-3" mat-raised-button
                  [disabled]="!permiteFinalizar()"
                  (click)="finalizarPedido()">
            Finalizar
          </button>
          <button *ngIf="permiteVerBotonSiguiente()" class="btn" mat-raised-button
                  [disabled]="!permiteAvanzarStep()"
                  (click)="siguienteStep()">
            Siguiente
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</form>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
