mat-hint {
  font-size: smaller;
}

.total {
  background-color: #f95738;
  color: #0D3B66;
  border-radius: 4px;
  height: 56px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep mat-card {
  background-color: #faf0ca!important;
}

::ng-deep .mat-step-icon {
  background-color: #EE964B!important;
}

::ng-deep mat-horizontal-stepper {
  border-radius: 15px;
  //background-color: #FAF0CA!important;
}
